language: android

before_install:
- yes | sdkmanager "platforms;android-27"

android:
  components:
    - tools
    - platform-tools
    - build-tools-26.0.2
    - android-27

jdk:
  - oraclejdk8

branches:
  except:
    - gh-pages

notifications:
  email: true

sudo: false

cache:
  directories:
    - $HOME/.gradle